{
    "swagger": "2.0",
    "info": {
        "title": "_ultra API",
        "description": "Search and share encrypted resources; it's easier than ever",
        "version": "1.0"
    },
    "host": "api.inpher.io",
    "basePath": "/ultraRest",
    "tags": [
        {
            "name": "admin",
            "description": "Admin operations"
        },
        {
            "name": "user",
            "description": "Operations about user"
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/addUser": {
            "get": {
                "tags": [
                    "admin"
                ],
                "description": "Add a user to an existing group",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupName",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "The name of an existing group"
                    },
                    {
                        "name": "userName",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The username of the invitied person"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/createSharingGroup": {
            "post": {
                "tags": [
                    "admin",
                    "user"
                ],
                "description": "Create a new sharing group.",
                "operationId": "resource_UltraService_createSharingGroup_POST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "description": "Sharing group request",
                            "$ref": "#/definitions/GroupRequest"
                        },
                        "description": ""
                    }
                ],
                "responses": {
                    "201": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/delete": {
            "delete": {
                "tags": [
                    "user"
                ],
                "description": "Deletes the element by path recursively or non-recursively. Only the owner of a path can delete an element.",
                "operationId": "resource_UltraService_delete_DELETE",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "path",
                        "in": "query",
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "recursive",
                        "in": "query",
                        "type": "boolean",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/doesSharingGroupExists": {
            "get": {
                "tags": [
                    "admin"
                ],
                "description": "Checks whether a sharing group exists.",
                "operationId": "resource_UltraService_doesSharingGroupExists_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupName",
                        "in": "query",
                        "type": "string",
                        "description": "Name of the group"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/download": {
            "get": {
                "tags": [
                    "user"
                ],
                "description": "Download a file from the backend.",
                "operationId": "resource_UltraService_downloadFile_GET",
                "produces": [
                    "text/plain"
                ],
                "parameters": [
                    {
                        "name": "fileName",
                        "in": "query",
                        "type": "string",
                        "description": "The full path of the file"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "string"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/exists": {
            "get": {
                "tags": [
                    "user"
                ],
                "description": "Returns whether path exists on the backend or not.",
                "operationId": "resource_UltraService_exists_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "path",
                        "in": "query",
                        "type": "string",
                        "description": "The full path of the resource"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/isDirectory": {
            "get": {
                "tags": [
                    "user"
                ],
                "description": "Checks whether path is a directory.",
                "operationId": "resource_UltraService_isDirectory_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "path",
                        "in": "query",
                        "type": "string",
                        "description": "The full path of the resource"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/isFile": {
            "get": {
                "tags": [
                    "user"
                ],
                "description": "Checks whether path is a file.",
                "operationId": "resource_UltraService_isFile_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "path",
                        "in": "query",
                        "type": "string",
                        "description": "The full path of the resource"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/isMember": {
            "get": {
                "tags": [
                    "admin"
                ],
                "description": "Verifies membership of a given user to the sharing group.",
                "operationId": "resource_UltraService_isMember_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupName",
                        "in": "query",
                        "type": "string",
                        "description": "The sharing group to test"
                    },
                    {
                        "name": "userName",
                        "in": "query",
                        "type": "string",
                        "description": "The username to be checked for membership"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/listAuthorizedGroups": {
            "get": {
                "tags": [
                    "admin",
                    "user"
                ],
                "description": "Get the list of groups that can access the given path.",
                "operationId": "resource_UltraService_listAuthorizedGroups_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "path",
                        "in": "query",
                        "type": "string",
                        "description": "The full path of the resource"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/listDir": {
            "get": {
                "tags": [
                    "user"
                ],
                "description": "Similar to ls. If path is a file, returns an iterator that has one 'element' - the file. If path is a directory, returns an iterator over all the elements inside the directory.",
                "operationId": "resource_UltraService_listDir_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dir",
                        "in": "query",
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/listGroups": {
            "get": {
                "tags": [
                    "admin",
                    "user"
                ],
                "description": "the list of groups the user is a member of.",
                "operationId": "resource_UltraService_listGroups_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "admin",
                    "user"
                ],
                "description": "Initializes the InpherClient client to work for an already existing user. Sets up the master keys for the purposes of encrypting data and indexes.",
                "operationId": "resource_UltraService_login_POST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "description": "",
                            "$ref": "#/definitions/User"
                        },
                        "description": ""
                    }
                ],
                "responses": {
                    "201": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "admin",
                    "user"
                ],
                "description": "Logs out the user from the InpherClient client (cleans up the environment, removes all the user's workers).",
                "operationId": "resource_UltraService_logout_POST",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/mkdir": {
            "post": {
                "tags": [
                    "user"
                ],
                "description": "Create a directory",
                "operationId": "resource_UltraService_mkdir_POST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "description": "The full path of the directory.",
                            "type": "string"
                        },
                        "description": ""
                    }
                ],
                "responses": {
                    "201": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/move": {
            "get": {
                "tags": [
                    "user"
                ],
                "description": "Move oldPath into newPath.",
                "operationId": "resource_UltraService_move_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "newPath",
                        "in": "query",
                        "type": "string",
                        "description": "The full new path of the resource."
                    },
                    {
                        "name": "oldPath",
                        "in": "query",
                        "type": "string",
                        "description": "The full old path of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/owner": {
            "get": {
                "tags": [
                    "user"
                ],
                "description": "Return the element owner of path.",
                "operationId": "resource_UltraService_owner_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fileName",
                        "in": "query",
                        "type": "string",
                        "description": "The full path of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/refreshGroupKeyring": {
            "get": {
                "tags": [
                    "admin"
                ],
                "description": "Used for rolling sharing group keys. Generates new keys for a sharing group and then re-encrypts the old content with the new keys.",
                "operationId": "resource_UltraService_refreshGroupKeyring_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupName",
                        "in": "query",
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/refreshUserKeyring": {
            "post": {
                "tags": [
                    "admin",
                    "user"
                ],
                "description": "Used for rolling the user's keys. Generates new keys for the user and then re-encrypts the old content with the new keys. A new certificate has to be generated for the new public key.",
                "operationId": "resource_UltraService_refreshUserKeyring_POST",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "password",
                        "in": "formData",
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "201": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "admin"
                ],
                "description": "Register puts a self-signed certificate for the user on the backend. In order to use properly signed certificates, it is required to first download the key from the backend. Forward it to a CA as a CSR and upload the CA signed certificate on the backend.",
                "operationId": "resource_UltraService_register_POST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "description": "",
                            "$ref": "#/definitions/User"
                        },
                        "description": ""
                    }
                ],
                "responses": {
                    "201": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/revokeUser": {
            "get": {
                "tags": [
                    "admin"
                ],
                "description": "Revokes a user of a sharing group. If that user owned shares, these shares will be unshared.",
                "operationId": "resource_UltraService_revokeUser_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupName",
                        "in": "query",
                        "type": "string",
                        "description": "The group name from which the user is to be revoked"
                    },
                    {
                        "name": "userName",
                        "in": "query",
                        "type": "string",
                        "description": "The group member to be revoked"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/search": {
            "get": {
                "tags": [
                    "user"
                ],
                "description": "Search for the keywords on the backend.",
                "operationId": "resource_UltraService_search_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "keywords",
                        "in": "query",
                        "type": "string",
                        "description": "a list of keywords to search for. The corresponding query is a disjunction of all the keywords."
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/searchPaged": {
            "get": {
                "tags": [
                    "user"
                ],
                "description": "Search for the keywords on the backend.",
                "operationId": "resource_UltraService_searchPaged_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "keywords",
                        "in": "query",
                        "type": "string",
                        "description": "a list of keywords to search for. The corresponding query is a disjunction of all the keywords."
                    },
                    {
                        "name": "numRes",
                        "in": "query",
                        "type": "integer",
                        "description": "Number of results in a single call"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "description": "The index of the first result"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/shareElement": {
            "get": {
                "tags": [
                    "user"
                ],
                "description": "Share an element with a sharing group using share name shareName. Only the owner of an element can share it.",
                "operationId": "resource_UltraService_shareElement_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "filePath",
                        "in": "query",
                        "type": "string",
                        "description": "the element to share (can be a file or a directory)"
                    },
                    {
                        "name": "groupName",
                        "in": "query",
                        "type": "string",
                        "description": "the name of the sharing group to share the element with"
                    },
                    {
                        "name": "shareName",
                        "in": "query",
                        "type": "string",
                        "description": "the name of the share."
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/unshareElement": {
            "get": {
                "tags": [
                    "user"
                ],
                "description": "Unshare the element in sharing group groupName with share name shareName. Only the owner of the element can unshare it.",
                "operationId": "resource_UltraService_unshareElement_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupName",
                        "in": "query",
                        "type": "string",
                        "description": "the name of the group owning the element to unshare"
                    },
                    {
                        "name": "shareName",
                        "in": "query",
                        "type": "string",
                        "description": "the name of the share to unshare."
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/upload": {
            "post": {
                "tags": [
                    "user"
                ],
                "description": "Upload the file source on the backend at path destition",
                "operationId": "resource_UltraService_uploadFile_POST",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "content",
                        "in": "formData",
                        "type": "file",
                        "description": "the File to upload"
                    },
                    {
                        "name": "contentDispositionHeader",
                        "in": "formData",
                        "type": "file",
                        "description": "the File to upload"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "type": "string",
                        "description": "The full path of the destination of the upload"
                    }
                ],
                "responses": {
                    "201": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        },
        "/userCertificate": {
            "get": {
                "tags": [
                    "admin",
                    "user"
                ],
                "description": "Download the user certificate.",
                "operationId": "resource_UltraService_userCertificate_GET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "description": "",
                            "type": "file"
                        },
                        "headers": {},
                        "description": "Success"
                    },
                    "default": {
                        "description": "Unexpected error."
                    }
                }
            }
        }
    },
    "definitions": {
        "GroupRequest": {
            "type": "object",
            "required": [
                "groupName",
                "usernames"
            ],
            "properties": {
                "groupName": {
                    "type": "string",
                    "description": "A unique group name"
                },
                "usernames": {
                    "description": "An array of usernames that are going to be included in the group.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            },
            "description": "JSON object that contains all the information required to create a sharing group"
        },
        "User": {
            "type": "object",
            "required": [
                "name",
                "password"
            ],
            "properties": {
                "name": {
                    "description": "A unique username.",
                    "type": "string"
                },
                "password": {
                    "description": "A strong password.",
                    "type": "string"
                }
            },
            "description": "An user object to make requests to user related API calls."
        }
    }
}